<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServeU"
        tools:targetApi="31">

        <activity
            android:name=".GeminiGuidanceActivity"
            android:exported="false" />

        <!-- RoleSelectionActivity is the new launcher -->
        <activity
            android:name=".ui.RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity is now just a regular activity (dispatcher) -->
        <activity android:name=".MainActivity" />

        <!-- Other new activities -->
        <activity android:name=".ui.SecretCodeActivity" />
        <activity android:name=".ui.AdminDashboardActivity" />
        <activity android:name=".ui.EmergencySetupActivity" />
        <activity android:name=".ui.UserHomeActivity" />

    </application>

</manifest>
